body {
margin: 0px; padding: 0px
}
h1, .h1 {
  font-size: 30px;
}
h2,
.h2 {
  font-size: 24px;
}
h3,
.h3 {
  font-size: 18px;
}
h4,
.h4 {
  font-size: 14px;
}
h5,
.h5 {
  font-size: 14px;
}
h6,
.h6 {
  font-size: 12px;
}
.panel-heading h2, .panel-heading .h2 {
  font-size: 18px; margin: 5px 0px;
}

.thumbnail .img_wrap {
	height: 204px;
	vertical-align: middle;
	text-align: center;
	display: block;
}

.thumbnail .img_wrap a{
	text-decoration: none;
}

.thumbnail .name_wrap {
	min-height: 80px;
}

.thumbnail .img_wrap a img {
 max-width: 100%;
 max-height: 200px;
 display: inline-block;
 vertical-align: middle;
 margin-right: -5px;
	margin-top: 2px;
    margin-bottom: 2px;
}

.kod_tovara {
    margin: 0px;
}

.img_banner {
	width: 100%;
}


.thumbnail .img_wrap a:after{
 display: inline-block;
 vertical-align: middle;
 height: 100%;
 content: "";
 width: 1px;
}

.nophoto {width: 170px; height: 170px; border: 1px solid #eee; margin: 10px auto}
a {text-decoration: underline; cursor: pointer}
a.btn {text-decoration: none}
.bold {font-weight: bold}


.top-menu {background: rgb(42,190,172);
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJhYmVhYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMzlmOTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgba(42,190,172,1) 0%, rgba(35,159,144,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(42,190,172,1)), color-stop(100%,rgba(35,159,144,1)));
background: -webkit-linear-gradient(top, rgba(42,190,172,1) 0%,rgba(35,159,144,1) 100%);
background: -o-linear-gradient(top, rgba(42,190,172,1) 0%,rgba(35,159,144,1) 100%);
background: -ms-linear-gradient(top, rgba(42,190,172,1) 0%,rgba(35,159,144,1) 100%);
background: linear-gradient(to bottom, rgba(42,190,172,1) 0%,rgba(35,159,144,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2abeac', endColorstr='#239f90',GradientType=0 );
color: #fff;
}
.geo_region {display: none}
.top-menu .navbar-nav>li>a {color: #eee}
.top-menu .navbar-nav>li>a:hover, .top-menu .navbar-nav>li>a:focus {color: #fff}
.top-menu .navbar-nav>.active>a, .top-menu .navbar-nav>.open>a, .top-menu .navbar-nav>.open>a:hover, .top-menu .navbar-nav>.open>a:focus {background-color: #209585}
.top-menu .navbar-toggle, .left-menu  .navbar-toggle{border-color: #fff}
.top-menu .navbar-toggle .icon-bar, .left-menu .navbar-toggle .icon-bar {background-color: #fff}
.top-menu .navbar-toggle:hover .icon-bar, .top-menu .navbar-toggle:focus .icon-bar {background: rgb(42,190,172)}
.left-menu .navbar-toggle:hover .icon-bar, .left-menu .navbar-toggle:focus .icon-bar  {background: rgb(235,177,38)}
.left-menu .navbar-toggle:hover,.left-menu .navbar-toggle:focus { background: #eee}
.top-menu .navbar-brand {color: #fff}

#bigphone .phone {font-size: 150%;text-decoration:none;}
#bigphone .glyphicon-phone-alt {margin-right: 0.1em; font-size: 130%; }
#bigphone {padding-top: 15px; text-align: right; color: #078076}
#cart {padding-top: 18px; 
	text-align: left;
  /*  z-index: 9999;
    position: fixed;*/
	}

.little-cart {	
	padding-top: 18px;
    text-align: left;
	display: inline;
	margin-left: 5px;
}
	/*
@media (min-width: 992px){
#cart { left: 16.66666667%; }
}

@media (min-width: 768px){
#cart { left: 25%; }
}
*/
#wh {margin-top: 15px; text-align: right; border-right: 4px solid rgb(235,177,38); color: #078076; padding: 5px 10px 5px 0px; font-size: 110%}
#logo a {display: block; vertical-align: middle; height: 70px; text-align: center}
#logo img {max-width: 100%; display: inline-block; vertical-align: middle; margin-right: -1px; max-height: 70px;}
#logo a:after {content: "."; display: inline-block; width: 1px; height: 70px; color: #E9e9e9; vertical-align: middle}

.list-header, .panel-gold .panel-heading, .btn-gold {background: rgb(235,177,38);
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ViYjEyNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iI2Q3ODMxYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(top, rgba(235,177,38,1) 0%, rgba(215,131,27,1) 99%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(235,177,38,1)), color-stop(99%,rgba(215,131,27,1)));
background: -webkit-linear-gradient(top, rgba(235,177,38,1) 0%,rgba(215,131,27,1) 99%);
background: -o-linear-gradient(top, rgba(235,177,38,1) 0%,rgba(215,131,27,1) 99%);
background: -ms-linear-gradient(top, rgba(235,177,38,1) 0%,rgba(215,131,27,1) 99%);
background: linear-gradient(to bottom, rgba(235,177,38,1) 0%,rgba(215,131,27,1) 99%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebb126', endColorstr='#d7831b',GradientType=0 );
color: #fff;
}
.list-header {font-size: 120%}
.list-header a, a.list-header{color: #fff !important}
.cats img {max-height: 170px; margin-bottom: 15px; display: inline-block; vertical-align: middle}
.cats .thumbnail a:first-child {height: 180px; display: inline-block; vertical-align: middle; text-align: center; width: 100%}
.counters {opacity: 0.15; overflow: hidden; float: right; width: 5px; height: 5px}
.line {padding: 5px 15px 5px 30px}
h1.small {font-size: 15pt}
.slidedown-menu {display: none}
.left-menu a {color: #078076}
.left-menu .navbar-collapse {margin:0px; padding: 0px}
.left-menu .navbar-toggle {margin: -5px -0px 0px 0px}
.left-menu .slidedown-toggle {display: block}
.slidedown-menu .list-group-item:first-child, .slidedown-menu .list-group-item:last-child {border-radius: 0}
.slidedown .list-group-item {border-radius: 0px}
.list-cat {
  color: #8a6d3b;
  background-color: #fcf8e3;
}
a.list-cat,
button.list-cat {
  color: #8a6d3b; padding-right: 19px
}
a.list-cat .list-group-item-heading,
button.list-cat .list-group-item-heading {
  color: inherit;
}
.left-menu a.c {    position: absolute; background-color: #fff;
    right: 10px;
    margin-top: -26px;
    cursor: pointer;
    display: block;
    border: 1px solid;
    text-align: center;
    display: block;
    border-radius: 50%;
    padding: 1px 2px 2px 1px;
    line-height: 10px;
    color: #999;}
.left-menu a.c:hover, a.list-cat:hover,
button.list-cat:hover,
a.list-cat:focus,
button.list-cat:focus {
  color: #8a6d3b;
  background-color: #faf2cc;
}

.list-cat.active,
.list-cat.active:hover,
.list-cat.active:focus {
  color: #fff;
  background-color: #E19A20;
  border-color: #E19A20;
}
.list-subcat.active,
.list-subcat.active:hover,
.list-subcat.active:focus {
	color: #333;
    background-color: #f5f5f5;  border-color: #ddd;
    text-decoration: none;
}


.good-item {text-align: center; margin-right: -4px; display: inline-block; vertical-align: top; float: none !important}
.good-item .thumbnail {overflow: hidden; height: auto; position: relative}
.good-item img {margin: 10px auto; max-height: 200px}
.good-item .price-wrap {padding-bottom: 10px}
.good-item-mini {text-align: center}
.good-item-mini .thumbnail {overflow: hidden; height: 380px; position: relative}
.good-item-mini img {margin: 5px auto; max-height: 140px}
.good-item-mini .price-wrap {position: absolute; bottom: 10px; width: 100%}

.price {font-size: 180%; margin: 10px 0px}
.complectations .price {font-size: 150%; margin: 0px}
.complectations .table td {vertical-align: middle}
.price-range {font-size: 150%; margin: 10px 0px}
.price, .price-range, #item-calc {color: rgb(235,177,38)}
.oldprice, .oldprice-range {color: #999; text-decoration: line-through; clear: both;}
.podbor {overflow: hidden; padding-bottom: 0px}
.podbor .list-group.open {background: #e5e5e5}
.podbor .podbor-col {float: left; width: 50%; border: 0px; margin-bottom: 0px}
.podbor .podbor-col:first-child {margin-right: -1px}
.podbor .podbor-col:last-child>.list-group-item {border-right: 0px}
.podbor .podbor-col:first-child>.list-group-item {border-left: 0px}
.podbor .podbor-col>.list-group-item:first-child {border-radius: 0px}
.podbor .podbor-col>.list-group-item:last-child {border-bottom: 0px; border-radius: 0px}
.podbor .podbor-col .values {margin: 10px -16px -11px -16px}
.podbor .podbor-col .values .list-group-item {border-radius: 0px; padding-left: 30px}
.podbor .open {background: #078076; border-color: #078076}
.podbor .open>a {color: #fff}
.panel-heading a {display: block}
.panel-primary .panel-heading a {color: #fff }
.panel-gold .panel-heading a{color: #fff}
.panel-gold {border-color: rgb(235,177,38)}
.btn-gold:focus, .btn-gold:hover {background: rgb(215,131,27); color: #fff}
.collapse.collapse-xs {display: block}
.search-menu .badge {position: absolute; right: 5px}
.search-menu .list-group-item {padding-right: 30px}
.thumbs .row>div {padding-left: 5px; padding-right: 5px}
#options .thumbnail {width: 50px; height: 50px; margin: 0px auto}
#options td {vertical-align: middle}
#options .panel-heading {
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
}
.glyphicon-ruble {font-size: 75%}
.rur {display: inline-block; width: 0.6em; overflow: hidden}
.subcats img {max-height: 150px}
.subcats .thumbnail {height: 200px; text-align: center}
.thumbnail.brand {-o-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: all 0.5s;
     -moz-transition: all 0.5s;
     -o-transition: all 0.5s;
     transition: all 0.5s;overflow: hidden; height: 130px;
	display: inline-block; width: 100%; vertical-align: middle;
	text-decoration: none; text-align: center;
}
.thumbnail.brand img {max-height: 130px; max-width: 100%; margin-right: -5px; display: inline-block; vertical-align: middle}
.thumbnail.brand:after {content: " "; height: 100%; font-size: 6px; vertical-align: middle; display: inline-block}
.thumbnail.brand:hover, .thumbnail.brand.active  {	-o-filter: none;
	-moz-filter: none;
	-webkit-filter: none;
	filter: none;
}
.brand-item {text-align: center; height: 145px; overflow: hidden; font-size: 150%; vertical-align: middle}
.brands-filter li {cursor: pointer}
#sitemap .level2 {margin-left: 35px}
#sitemap .level3 {margin-left: 65px}
#sitemap .level4 {margin-left: 95px}
#sitemap .level5 {margin-left: 150px}
#carousel {  overflow: hidden; margin-bottom: 20px}
#carousel .item .img { position: relative; background-size: cover; background-position: center center; display: block}
#carousel .item a.block {height: 500px; display: block}
#carousel .item .carousel-caption { position: absolute; bottom: 20px}
/*#callback-form {display: none; width: 350px; height: 224px}*/
.fancybox-inner .panel {border: 0px;margin: 0px}




@media (max-width:992px) {

    #wh{
        display:none;
    }
	.collapse.collapse-xs {display: none}
	.collapse-xs.in {display: block}
}




.visible-xl-block,
.visible-xl-inline,
.visible-xl-inline-block,
.visible-xl{
    display: none !important;
}
.cart-list {position: absolute; z-index: 1100}
.cart .count {width: 125px}
.cart .count input {text-align: center}
.cart .thumbnail {width: 150px}
.cart .thumbnail img {max-height: 150px}

#cart .thumbnail {width: 80px}
#cart .thumbnail img {max-height: 100px}
.cart>tbody>tr>td{vertical-align: middle}
.cart th {text-align: center}
.cart>tbody>tr>td.sum {text-align: right}
.cart .price {font-size: 120%}
.cart tfoot {font-weight: bold}
.we-best .glyphicon {font-size: 200%;}
.we-best {text-align: center; margin: 15px 0px; color: #078076}
.we-best .we-best-icon:hover {color: #333} 
.rating {color: rgb(235,177,38)}
.tags, .tags a {color: #999}
.tags .collapse {border-top: 1px solid #ddd}
.tags .active {background: #f5f5f5; color: #777; border-color: #ddd; text-decoration: none; font-weight: bold}
.tags .list-group-item:hover {background: #f5f5f5; color: #777; border-color: #ddd}
.tags .panel-heading {color: #777}
.tags .list-group-item {background: #eeffee}


.tags .collapse .list-group-item {background: #fff}




    #scrollup{
        position: fixed;
    left: 50px;
       top: 70%;
    opacity: 0.8; 
    display: none;
    cursor:pointer;

    
}

#scrollup img{
    width:50px;
}


#bigphone #wh{
    font-weight:bold;
}






html, body{ background: #fff;margin:0;padding:0;width:100%;height:100% !important;color:#101010;font-size:14px;}
.empty{height:251px;}
.wrapper{position:relative; min-height:100%;height:auto !important;height:100%;}
.inline{display:inline-block; vertical-align:top;}

.container{max-width: none !important;}

a{color:#078076;text-decoration:ubnderline;}
a:hover{text-decoration:underline;}
a:focus{outline:none;}

a[href^=tel]{color:#ffffff}
img{border:none;}

h1, h2, h3, h4, h5, h6 {font-family: inherit;
font-weight: 500;
line-height: 1.1;
color: inherit;margin-top: 20px;
margin-bottom: 10px;}
h1{font-size:30px;}
h2{font-size:22px;}
h3{font-size:18px;}

ul:not([class]) {padding-left: 30px; overflow: hidden }
ul:not([class]) li { list-style: none;background: url();padding: 0 0 0 25px; margin: 3px 0; list-style-position: inside; }

::selection { background: #1e80be; color:#ffffff; text-shadow: 1px 1px 0 #838383; }
::-moz-selection { background: #1e80be; color:#ffffff; text-shadow: 1px 1px 0 #838383; }
svg:not(:root) { overflow: hidden; } 
.chromeframe { margin: 0.2em 0; background: #1e80be; color: black; padding: 0.2em 0; }

#wh{margin-right:12px;}
#bigphone a.phone{text-align:right;color: #078076;}
.top-header{background-color: #E9E9E9;    padding: 5px 0px 15px 0px;}
 .navbar-nav>li>a{padding:14px 14px;}
.top-menu .navbar-form.navbar-right{width:250px;}
ul.left-menu-list,
ul.left-menu-list ul{margin:0px;padding:0px;}
ul.left-menu-list li{list-style:none;margin-bottom:-1px;}
ul.left-menu-list li a{border-radius:0px;}
.border-none{border-bottom:none;border-radius:0px !important;    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;}
	.list-group-item:first-child {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}
ul.left-menu-list li:first-child a.list-group-item{border-top-right-radius: 4px;
    border-top-left-radius:4px;    border-bottom: 0px;}
	ul.left-menu-list li ul li:first-child a.list-group-item:first-child{border-top-right-radius: 0px;
    border-top-left-radius: 0px;}
	ul.left-menu-list li:first-child a.list-group-item{  border-bottom: 0px;border-top-right-radius: 0px;
    border-top-left-radius: 0px;}
	.title-content{font-size: 24px;}
	ul.special-list,
	ul.new-list,
	ul.hit-list{margin:0px;padding:0px;}
	ul.special-list li,
	ul.new-list li,
	ul.hit-list li{list-style:none;}
	
	.index-about .thumbnail{float:left;margin-right:15px;}
	ul.right-menu{padding:0px}
	ul.right-menu li{list-style:none;}
	ul.right-menu  .list-group-item{border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;    border-bottom-right-radius:0px;
    border-bottom-left-radius: 0px;    margin-bottom:-1px;}
	ul.normal-list{margin:0px 0px 10px 0px;padding-left:40px;}
	.bigtext{font-weight: bold;}
	
	/*ABOUT-US-COMMENTS*/
	ul.about-comments li .row{display:flex;position:relative;}
	.list-group-item .image-box{width: 100%;
    height: 130px;
    line-height: 130px;
    position: absolute;
    top: 50%;
    margin-top: -65px;
    padding: 0px 15px;
    left: 0px;text-align: left;}
	.list-group-item .image-box img{  
    height: auto;
    max-height: 130px;
    max-width: 100%;
    width: auto;
    text-align: center;}
	

#review-form textarea{resize:none;}
.content-box{padding-bottom:50px;}
#footer .phone a{    color: #078076;}
#footer .phone a:hover{    color: #033733;}
.span-color{color: #ff8000;}
a.color-link-href,
a.color-link-href:hover{    color: #101010;text-decoration:none;}

ul.brands-list,
ul.catalog-list{margin:0px;padding:0px;}
ul.brands-list li{list-style:none;margin-bottom:-1px;}
ul.brands-list li a{border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;padding-right:45px;position:relative;}
	span.brands-span{display:block;float:left;max-width:141px;}
	ul.brands-list li a span.badge{position:absolute;right:15px;top:50%;margin-top:-9px;}
	ul.catalog-list li{list-style:none;}
	ul.catalog-list li .image-box{max-width:190px;height:auto;margin:0px auto 15px auto;text-align:center;}
	ul.catalog-list li .image-box img{margin-bottom:0px;width:100%;height:auto;}
	ul.brands-logos-list{margin:0px;padding:0px;}
	ul.brands-logos-list li{list-style:none;}
	ul.brands-logos-list li a{display:table !important;}
	ul.brands-logos-list li .logo-box{width:100%;max-height:50px;display: table-cell;
    vertical-align: middle;}
	ul.brands-logos-list li .logo-box img{width:100%;height:auto;}
	a.with-margin{margin-top:15px;}
	ul.well-list{margin:0px;padding:0px;}
	ul.well-list li{list-style:none;}

 li.with-bottom-margin{margin-bottom:-1px !important; list-style:none;}
 
.tags-page a.list-group-item{padding:10px 10px;font-size:12px;}


textarea{resize:none !important;}
.subcats-badge .badge{margin-left:15px;}
.for-objects-tags li{float:none !important;display:inline-block !important;vertical-align:top !important;}
.btn-group button{margin-bottom:10px;}
td.td-right{text-align:left !important;}
td.td-right .glyphicon.glyphicon-ruble{display:inline;}
ul.left-menu-list-active .list-cat.active{padding:0px;border:none;}
ul.left-menu-list-active .list-cat.active a{background-color: #E19A20;border-top:0px;text-decoration:none;}
ul.left-menu-list-active .list-cat.active  ul li a{background-color:#fff;}
ul.left-menu-list-active .list-cat.active  ul li a:hover,
ul.left-menu-list-active .list-cat.active  ul li a.active{color: #555;
background-color: #f5f5f5;}
.cursor-pointer{cursor:pointer;}
i.i-block{display:block;font-style:normal;}
.no-margin{margin-bottom:0px !important;}
.table-box-chackout{margin-bottom:20px;}
.table-box-chackout table{margin-bottom:0px;}

/* FOOTER */
#footer{height:251px;margin-top:-251px; position:relative;    border-top: 1px solid #ddd;
   padding: 10px 0px;
background-color: #E9E9E9;}

/* FORMS */
input[type="text"], 
input[type="email"], 
input[type="name"], 
input[type="tel"], 
textarea { font-size:14px;background:#fff;vertical-align:top !important;margin:0px;

-moz-box-shadow:none;
-webkit-box-shadow:none;
box-shadow:none;
transition: all 0.3s;
-moz-transition: all 0.3s;
-webkit-transition: all 0.3s;
-webkit-border-radius:0px;-moz-border-radius:0px;border-radius:0px;-webkit-appearance:none !important;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="name"]:focus, input[type="tel"]:focus, textarea:focus{ outline:none;} 


input[type="button"], input[type="submit"], .button a, #button a, a.button, a#button, .button, #button{color:#ffffff;    padding: 6px 12px;border:none;font-size:14px;-webkit-appearance:none !important;-webkit-border-radius:0px;-moz-border-radius:0px;border-radius:0px;    border-radius: 4px;}

input[type="button"]:hover, input[type="submit"]:hover, .button:hover, #button:hover, .button a:hover, #button a:hover, a.button:hover, a#button:hover{}

input[type="button"]:active, input[type="submit"]:active{border:none !important; outline:none !important;}
input[type="button"]:focus, input[type="submit"]:focus{border:none !important;outline:none !important;}


:focus::-webkit-input-placeholder { color:transparent; }
:focus::-moz-placeholder          { color:transparent; } /* Firefox 19+ */
:focus:-moz-placeholder           { color:transparent; } /* Firefox 18 */


/* Color of Placeholder text */
::-webkit-input-placeholder       { color: #a3a3a3; }
::-moz-placeholder                { color: #a3a3a3; opacity: 1; } /* Firefox 19+ */
:-moz-placeholder                 { color: #a3a3a3; opacity: 1; } /* Firefox 18 */
:-ms-input-placeholder            { color: #a3a3a3; }
::placeholder                     { color: #a3a3a3; }
/* Placeholders */